<div class="row">
   <div class="col-lg-12">
      <div class="jumbotron">
         <h1>Welcome to Your<br /> CADMasters Account Portal</h1>
         <p>Here you will be able to keep track of your previous and current invoices, pay outstanding balances, and more!</p>
      </div>
   </div>
</div>

<div class="row">
   <div class="col-lg-6">
      <div class="well">
         <h4>Login</h4>
         <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum tincidunt est vitae ultrices accumsan. Aliquam ornare lacus adipiscing, posuere lectus et, fringilla augue.</p>
         <%= button_to 'Login', new_user_session_path, class: "btn btn-lg btn-primary" %>
      </div>
   </div>
   <div class="col-lg-6">
      <div class="well">
         <h4>Need to Start a Subscription?</h4>
         <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum tincidunt est vitae ultrices accumsan. Aliquam ornare lacus adipiscing, posuere lectus et, fringilla augue.</p>
         <a href="http://www.cadmasters.com"><button type="button" class="btn btn-lg btn-primary">Return to CAD Masters</button></a>
      </div>
   </div>
</div>